@import "reset.css";

html{
  font-size: 100%;
}

body{
  color:#24292e;
  animation: fadeIn 3s ease 0s 1 normal;
}

@keyframes fadeIn { 

  0% {opacity: 0} 

  100% {opacity: 1} 

}




li{
  list-style:none;
}

ul{
  display: block;
  width: 100%;
  box-sizing: inherit;
}

.my-black{
  color: black;
}

a{
  color:#24292e;
  text-decoration:none;
}



#url{
  display: flex;
}







#logo img{
  width: 14%;
  height: auto;
  margin-right: 43%;
  margin-left: 43%;
  margin-top: 12%;
  margin-bottom: 7%;
}

.fab{
  font-size: 160%;
}

#sns a:hover{
  opacity: 0.5;
  transition: 0.7s;
  font-size: 20px;
}

#sns{
  display: flex;
  box-sizing: inherit;
  width: 12%;
  margin-left: 44%;
  margin-right: 44%;
  justify-content: space-between;
}

#url{
  margin-top: 25px;
  display: flex;
  box-sizing: inherit;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  justify-content: space-between;
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif
}



.line a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.line a::after {
  position: absolute;
  bottom: -3px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background:rgba(51, 56, 61, 0.85);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.line a:hover::after {
  transform: scale(1, 1);
}
  
@media (min-width:720px) and (max-width:960px){
  #url{
    display: block;
    text-align: center;
    margin-top: 50px;
  }
  #url a{
    margin-bottom: 40px;
    font-size:30px;
  }

  #sns{
    box-sizing: inherit;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
  }
}

@media screen and (max-width:720px){

  #logo img{
    width: 35%;
    margin: 100px 32.5% 60px 32.5%;
  }

  #sns{
    box-sizing: content-box;
    width: 50%;
    margin:50px 25% 0 25%;
  }

  #sns a{
    margin: 0 5px;
    font-size:18px;
  }
  
  #url{
    display: block;
    text-align: center;
    margin-top: 70px;
  }

  #url a{
    margin-bottom: 40px;
    font-size:22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

}
