@import "reset.css";

html{
  font-size: 100%;
}

body{
  color:#24292e;
  animation: fadeIn 3s ease 0s 1 normal;
}

@keyframes fadeIn { 

  0% {opacity: 0} 

  100% {opacity: 1} 

}



li{
  list-style:none;
}

ul{
  display: block;
  width: 100%;
  box-sizing: inherit;
}

.my-black{
  color: black;
}

a{
  color:#24292e;
  text-decoration:none;
}



#url{
  display: flex;
}







#logo img{
  width: 32%;
  height: auto;
  margin-right: 34%;
  margin-left: 34%;
  margin-top: 5%;
  
}

#sns a:hover{
  opacity: 0.5;
  transition: 0.7s;
  font-size: 20px;
}

#sns{
  display: flex;
  box-sizing: inherit;
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  justify-content: space-between;
}

#url{
  margin-top: 70px;
  display: flex;
  box-sizing: inherit;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: space-between;
  font-size: 30px;
  font-family:Georgia, 'Times New Roman', Times, serif
}



.line a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
.line a::after {
  position: absolute;
  bottom: -10px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background:rgba(51, 56, 61, 0.85);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.line a:hover::after {
  transform: scale(1, 1);
}
  
@media screen and (max-width:720px){

  #sns{
    box-sizing: content-box;
    width: 80%;
    margin:50px 10% 0 10%;
  }

  #sns a{
    margin: 0 15px;
  }
  
  #url{
    display: block;
    text-align: center;
    margin-top: 70px;
  }

  #url a{
    margin-bottom: 25px;
  }

}
